body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.sect{
    padding:50px;
}
.head{
    top:0;
    padding: 0.5px;
    font-family: Alegreya Sans SC;
    background: lightgray;
}
.footer{
    background: lightgray;
    margin-bottom: 0;
    bottom: 0;
    padding: 10px;
}
.info{
    font-weight: 500;
}
